.container{
  margin-left: 100px;
  margin-right: 100px;
  font-family:serif;
  line-height: 2em;
  width:50%;
  margin: auto;
}
body{
  margin-top: 15px;
  margin-bottom: 15px;
}
#state, #product{
  width: 250px;
}
#name, #address, #zipcode{
  display:block;
  width:250px;:
}
select{
  margin-top: 15px;
}
.modal-content{
  text-align: center;
  margin-left: 200px;
  margin-right: 200px;
  padding-top:1em;
  padding-bottom:1em;
  /*width: 300px;*/
  font-size: 25pt !important;
  font-family: serif;
  letter-spacing: 4pt;
  line-height: 20pt !important;

}
